
<h2>@ViewData["Message"]</h2>
<hr/>
<address>
    NURE<br />   
    <abbr title="Phone">P:</abbr>
   123456
    <br />
    Margaret & Tanya
  
</address>

<address>
    <strong>Support:</strong> <a href="http://tss.co.ua/Judge/">Judge</a><br />
    <strong>Help:</strong> <a href="http://tss.co.ua:5555/ask/discindex/asp">ASP</a>
</address>
