@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model ICollection<Game>
@{

    <h1>There are @Model.Count games.</h1>
    <ul>
    @foreach (var g in Model)
    {
        <li><h4><a href="/Player/Game/@g.Id">@g.GameName</a></h4></li>
    }
    </ul>

}
