
<h2 class="well">@ViewData["Message"]</h2>

<h4>It is a simple web variant of not difficult but interesting and exiting game.</h4>
<h3>Let us tell you the rules! Everithing is simple!</h3>
<ul>
    <li>You have a list of different games (problems). Choose one of them.</li>
    <li>Your task is to solve the problem, to collect a pazzle.</li>
    <li>To do this you should ask different questions to become close to solving the problem.</li>
    <li>You will get the answer: Yes, No or No matter.</li>
    <li>Use your loaf and ask another question or offer your variant of solving this problem.</li>
</ul> 
<hr/>
<h4 style="color: red">To be able to create your own games you should have an account in our application. Please, register to have more rights!</h4>