@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Game

<script>
    function addQuestion() {
        $.post({
            url: "/Home/AddNewQuestion",
            data: {
                Text: $('#newQuestionText').val(),
                GameId: "@Model.Id"
            },
            success: function (data) {
                alert(data);
                window.location.reload();
            }
        });
    }
</script>

@{
    if (Model.Questions != null && Model.Questions.Count > 0)
    {
        <h4>@Model.Questions.Count Questions:</h4>

        for (int i = 0; i < Model.Questions.Count; i++)
        {
             <p>@(i+1): @Model.Questions[i].Text</p>
        }
    }
    else
    {
        <h4>No questions yet.</h4>
    }

    <hr />
    <div><input type="text" id="newQuestionText" /></div>
    <div><button onclick="addQuestion()">Ask</button></div>

}