@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model ICollection<Game>
@{
    <h1>Games: @Model.Count</h1>
    foreach (var g in Model)
    {
        <h4><a href="/Home/Game/@g.Id">@g.GameName</a></h4>
    }


}
