@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using YesNoPuzzle.Models

@model IEnumerable<ApplicationUser>

@foreach (var user in Model)
{
    <div><a href="Home/Game/@user.Id">@user.GameName</a></div>
}