@{
    ViewData["Title"] = "Questions Page";
}
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using YesNoPuzzle.Models
@model ICollection<Game>
@foreach (Game g in Model)
{
    <h1> @g.GameName </h1>
    if (g.Questions != null && g.Questions.Count > 0)
    {
        <h4>Questions:</h4>

        for (int i = 0; i < g.Questions.Count; i++)
        {
            <p>@(i + 1): @g.Questions[i].Text</p>
            <h4>@g.Questions[i].State</h4>
        }
    }
    else
    {
        <h4>No questions yet for this game.</h4>
    }
}