@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model ICollection<Game>

@{
    @if (@Model.Count == 0)
    {
        <h2>No games yet. To create a new one log in.</h2>
    }
    else
    {
        <h2>Games:</h2>
        foreach (var g in Model)
        {
            <div style="display: inline">
                <form asp-controller="Home" asp-action="DeleteGame" method="post" display="inline">
                    <h4>
                        <a href="/Home/Game/@g.Id">
                            @g.GameName @if (g.GameState)
                            {
                                <span>(Open)</span>
                            }
                            else
                            {
                                <span>(Closed)</span>
                            }
                        </a>
                        <a href="/Home/DeleteGame/@g.Id" class="btn btn-danger" role="button" style="margin-left: 20px">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                        </a>
                    </h4>
                </form>
            </div>
        }
    }
}
